<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        2017 © <a th:href="@{https://github.com/SuperRight/My-Blog}" target="_blank">My Blog</a><div class=""></div>
    </footer>
</div>
<body th:fragment="footer">
<script th:src="@{https://cdn.jsdelivr.net/npm/jquery@2.2.3/dist/jquery.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@6.4.1/dist/sweetalert2.min.js}"></script>
<script th:src="@{/admin/js/jquery.app.js}"></script>
<script th:src="@{/admin/js/base.js}"></script>
</body>
</html>