<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.springboot.core.dao.NewsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.site.springboot.core.entity.NewsCategory">
    <id column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id, category_name, is_deleted, create_time
  </sql>
  <select id="findCategoryList" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_news_category
    where is_deleted=0
    order by category_id desc
    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>
  <select id="getTotalCategories" parameterType="Map" resultType="int">
    select count(*)  from tb_news_category
    where is_deleted=0
    </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_news_category
    where category_id = #{categoryId,jdbcType=BIGINT} and is_deleted =0
  </select>
  <select id="selectByCategoryName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_news_category
    where category_name = #{categoryName,jdbcType=INTEGER} AND is_deleted = 0
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update tb_news_category set is_deleted =1
    where category_id = #{categoryId,jdbcType=BIGINT} and is_deleted =0
  </update>
  <update id="deleteBatch">
    update tb_news_category
    set is_deleted=1 where category_id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>
  <insert id="insert" parameterType="com.site.springboot.core.entity.NewsCategory">
    insert into tb_news_category (category_id, category_name, is_deleted, 
      create_time)
    values (#{categoryId,jdbcType=BIGINT}, #{categoryName,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.site.springboot.core.entity.NewsCategory">
    insert into tb_news_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.site.springboot.core.entity.NewsCategory">
    update tb_news_category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.site.springboot.core.entity.NewsCategory">
    update tb_news_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>
</mapper>